.catalog {
  padding: 80px 0;

  &__tabs {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }

  &__tab {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    margin: 0 5px;
    transform: skewX(-25deg);
    cursor: pointer;

    div {
      transform: skewX(25deg);
      font-weight: 400;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      text-transform: uppercase;
      color: #6b6b6b;
    }
  }

  .tab-active {
    background: $main-color;
    border: 0;

    div {
      color: #ffffff;
    }
  }
  &__items {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    width: 300px;
    height: 440px;
    border: 2px solid #e8e8e8;
    margin-top: 20px;
    padding: 20px 20px 26px 20px;
    overflow: hidden;
    &__wrapper {
      width: calc(200% + 40px);
      display: flex;
    }
    &__content {
      width: 50%;
      margin-right: 0px;
      transform: translateX(-100%);
      transition: 0.5s all;
      &-active {
        transform: translateX(0%);
        margin-right: 20px;
      }
    }

    &__list {
      position: relative;
      padding-left: 19px;
      padding-right: 20px;
      width: 50%;
      margin-left: 20px;
      margin-bottom: 0;
      transform: translateX(0%);
      transition: 0.5s all;
      list-style-type: none;

      &-active {
        transform: translateX(-100%);
        margin-left: 0px;
      }

      li {
        position: relative;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #555555;
        margin-bottom: 10px;
        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          background-color: $main-color;
          left: -14px;
          top: 7px;
        }
        a {
          display: block;
          margin: 0 auto;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
          text-decoration-line: underline;
          color: $main-color;
          text-transform: uppercase;
        }
      }
      &-back {
        position: absolute;
        top: 305px;
        left: 50%;
        transform: translateX(calc(-50% - 19px));
        display: block;
        margin: 0 auto;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        text-decoration-line: underline;
        cursor: pointer;
        color: $main-color;
      }
    }

    &__img {
      display: block;
      margin: 0 auto;
      width: 140px;
      height: 200px;
    }

    &__subheader {
      margin-top: 15px;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      color: #0d0d0d;
    }

    &__descr {
      width: 250px;
      margin: 0 auto;
      margin-top: 15px;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #0d0d0d;
    }

    &__link {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-decoration-line: underline;
      text-transform: uppercase;
      cursor: pointer;
      color: #c70101;
    }

    hr {
      margin: 19px auto;
      width: 240px;
      height: 1px;
    }

    &__footer {
      margin: 0 auto;
      margin-top: 17px;
      width: 240px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 130px;
        height: 40px;
      }
    }

    &__price {
      // margin: 0 auto;
      // padding-left: 22px;
      &-old {
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #555555;
      }

      &-sale {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: #050505;
      }
    }
  }
}
